[2019-03-15 08:53] #536 closed, assigned to anjhero, saugatmaharjan, ruchidhami, umuieme

[2019-03-18 05:36] anjesh commented on #562
Got it.

Will create a separate trip page in the admin section with all those info and Trip from the report page will be linked to the trip page. Same will be for the group.

Will be taken care of.

Block will bar the user from login. We will show the following info and ask for confirmation when admin clicks `Block`.

[code]

Will create "All" section listing all the reports.

@ruchidhami will be

[2019-03-18 05:47] anjesh commented on #525
We will not code MM from scratch, rather use the existing mm code and work with our data. There's certain process one needs to follow to create user and give user access to MM.

There will be static information page MM in our admin interface https://skjutsgruppen.nu/admin with the following information.

----

To create MM user

* Please login to [old skjutgruppen admin page](http://skjutsgruppen.

[2019-03-19 11:52] anjesh commented on #562
@MattiasJay any thoughts/comments on this?

[2019-03-19 11:53] anjesh commented on #525
@MattiasJay thoughts?

[2019-03-19 20:40] MattiasJay commented on #525
I need some hours to test this and get back to you @anjesh @ruchidhami

[2019-03-20 10:10] MattiasJay commented on #562
Thanks @ruchidhami and @anjesh ! Looking forward to see the result.

[2019-03-20 10:32] MattiasJay commented on #563
I'm trying this on iPhone 6 right now, and it does not open the app @ruchidhami . Is it because the newest version of the app is not in App Store yet? @umuieme @anjesh

[2019-03-20 20:47] MattiasJay commented on #525
Hi again @ruchidhami and @anjesh , I have now walked through this.

1. Mobility Management (from now on called "MM") is up again! Good job!

This was the case all the time @anjesh - that we should preserve Mobility Management as it is. It was never supposed to be a new page. This is a page that our partners (mostly Swedish municipalities) can log in to to access statistics about a specific area th

[2019-03-20 21:03] MattiasJay commented on #568
Feedback from testing on Android:

1. It still says "Programmer" instead of "Programming" (see photo on Slack #garden )

2. Concerning how we phrase it, look at the text above (from March 14) and the screen shot below:

![photo_2019-03-20_21-59-53](https://user-images.githubusercontent.com/10048880/54718751-88c17e00-4b5b-11e9-8d6c-879d9f8ff7cd.jpg)

Above we made a specific version for each of the

[2019-03-21 04:00] ruchidhami commented on #563
Yes @MattiasJay  newest version was not in app store before, now it is app store , Can you please confirm it ?

[2019-03-21 09:19] anjesh commented on #525
Yes, we are planning to have a URL like skjutsgruppen.nu/mm, which will take to login page http://skjutsgruppen.nu:9000/users/sign_in or mm.skjutsgruppen.nu/users/sign_in and after signing-in, they will see the actual MM interface (currently at http://skjutsgruppen.nu:9000/mm). We are using 9000 in skjutsgruppen.nu:9000 to run previous code-base. Ideally if you could reset the password for https:/

[2019-03-21 10:49] MattiasJay commented on #563
Now it works! Great job @ruchidhami !

[2019-03-21 10:49] #563 closed, assigned to saugatmaharjan, ruchidhami

[2019-03-21 10:51] MattiasJay opened #576 "Remove "Co create this app" screen"
We are now getting to a close of this part of the project,
and will for now remove this screen that appears every time a participant opens the app:

![Image from iOS (1)](https://user-images.githubusercontent.com/10048880/54747656-cbbd3900-4bcf-11e9-9365-f0a011b3bc17.png)

@anjhero @anjesh

[2019-03-22 04:14] ruchidhami commented on #567
Hi! @MattiasJay , Can you please confirm this issue ? This has been solved from our side.

[2019-03-22 12:13] ruchidhami commented on #562
@MattiasJay  I had made changes on admin panel. Please review , and give feedback if any.

ping @anjesh dai

[2019-03-25 07:54] #567 closed, assigned to umuieme, RaiSaugat

[2019-03-25 20:56] MattiasJay commented on #562
Thanks @ruchidhami !

1. The first page shows oldest report first, it would be better with newest first and in descending order.

2. Garden status says "A programmer" but should be changed to "Programming" in the same manner as @umuieme will change in the app.

3. Comment are lacking trip ID. Add trip ID to comment reports as well.

4. Also add the link; like skjts.se/t/xxxx726 (or group link) so

[2019-03-26 08:13] ruchidhami commented on #562
@MattiasJay  I have made point out to some question. Please have a look on this.

ok.

ok.

ok.

I had already created the separate screen for both the trip and group with full information and if we click then it will redirects to that screen rather than the card.

Completely remove users from the database means to remove all the things associated with it. (groups, comments, experience, trips). If

[2019-03-26 12:43] MattiasJay commented on #562
Thanks @ruchidhami .

The separate screen you made for trip and group information  is good. All we want is that the specific link is added to this screen as well, you can just add the "skjts.se/t/xxxx726" to the end of those screens you have already made. This is so it will be an easy process for us to open the actual ride and/or group. Thanks @ruchidhami !

When it comes to removing participant;

[2019-03-28 07:03] ruchidhami commented on #570
This issue has been solved . Please re-open, if appears.

[2019-03-28 07:03] #570 closed, assigned to umuieme

[2019-03-28 07:04] ruchidhami commented on #528
This issue has been re-solved. Please re-open , if occurs.

[2019-03-28 07:04] #528 closed, assigned to ruchidhami, umuieme

[2019-03-28 07:05] ruchidhami commented on #576
This is done.

[2019-03-28 07:05] #576 closed, assigned to umuieme

[2019-03-28 07:06] ruchidhami commented on #574
This has been implemented as per screen.

[2019-03-28 07:06] ruchidhami commented on #301
Done for both IOS and Android .

[2019-03-28 07:07] ruchidhami commented on #513
This has been resolved now.

[2019-03-28 07:08] ruchidhami commented on #525
This is done now. MM can be accessible with new database.

[2019-03-28 07:09] ruchidhami commented on #180
As per discussion, this has been implemented for IOS only.

[2019-03-28 07:09] #180 closed

[2019-03-28 13:46] MattiasJay commented on #301
I'm looking at this on Test Flight, version 1.3.0, iPhone.
- Start feed implementation of falling map destroys design.
- ...also completly wrong design after map has fallen down on start feed (there's a menu glued to bottom)
- Falling map in rides does not work  (tries do drag down, nothing happens)
- Falling map in group does not work (tries do drag down, nothing happens)

Important; do **not** p

[2019-03-28 21:44] MattiasJay opened #577 "The blue "new notifications" dot next to the speech bubbles (symbol for "Messages & groups") are visible even though there are no new notifications."
ios

[2019-04-01 17:34] MattiasJay opened #578 "After deleting my ride I just come to a totally white screen. There's nothing there and noting happens. Have to close and restart the app. iOS, iPhone 6."

[2019-04-04 10:11] MattiasJay commented on #525
I'm looking right now at http://old.skjutsgruppen.nu/mm and there's no data there. It's empty.

I'm assuming it's moved to http://skjutsgruppen.nu:9000/mm @anjesh @ruchidhami ? But that is also a blank page, that can't be opened right now. Have you set the new login page @anjesh ? (we talked about skjutsgruppen.nu/mm )

[2019-04-04 10:21] MattiasJay commented on #513
Good work with this @ruchidhami !

This has proven to be tricky, as we understand. Still, not all groups are seen on the world map when zooming out in group map on Discover groups, so this issue remains open:

![photo_2019-04-04_12-21-00](https://user-images.githubusercontent.com/10048880/55548641-309a8800-56d4-11e9-9f78-9d40a3cb1cf3.jpg)

[2019-04-04 10:27] MattiasJay commented on #425
Hi again, this is still the case. Here's an example:

This ride goes to Amsterdam later in April:

![photo_2019-04-04_12-25-07](https://user-images.githubusercontent.com/10048880/55548841-b7e7fb80-56d4-11e9-95fc-024d4b0ff48f.jpg)

Now look at the world map @ruchidhami @anjesh @shresthaKiran :

![photo_2019-04-04_12-25-52](https://user-images.githubusercontent.com/10048880/55548890-d4843380-56d4-11

[2019-04-05 08:07] ruchidhami commented on #525
Hello @MattiasJay ,  it can be access through the link http://mm.skjutsgruppen.nu/admin/login for admin access and for mm http://mm.skjutsgruppen.nu.
Also you can get the instructions of mm by login with the url http://skjutsgruppen.nu/admin.

[2019-04-05 15:38] MattiasJay opened #579 "Can't access old.skjutsgruppen.nu"

[2019-04-08 18:14] MattiasJay opened #580 "Urgent: "Messages & groups" have broken down. Does not work."
Urgent: the core feature for notifications has broken down @anjhero @anjesh . "Messages & group" are currently not working. See a movie about this on Slack.

[2019-04-08 22:39] MattiasJay commented on #327
Hi again @ruchidhami , the "North, South, East, West, Anyhwere" is still not fixed. Look at the same links as above; it still only says "Ludwig Asks for a ride - Sten Sturegatan 10"

[2019-04-09 04:24] ruchidhami commented on #327
This is now solved.

[2019-04-09 04:24] #327 closed

[2019-04-29 10:36] MattiasJay commented on #566
Hi again @umuieme ! Now we'll continue with the Swedish translation.

Can you enable to be able to switch to Swedish in the current app, so I can go through more in detail and see what is wrong/not wrong? With this I mean that the section "Language" in settings should have the option to switch to Swedish (no one else will probably notice this, if we don't tell them 😉 )

- [x] Swedish option enable

[2019-05-02 07:51] ruchidhami commented on #562
Hello @MattiasJay, Please make clear on the following lists.
1. When the admin delete the participant then all the information related to that participant has been deleted and can't be undo.
2. What happen when the participant deleted the trips, groups, comments and **delete yourself from the movement**?

[2019-05-02 07:55] ruchidhami commented on #547
Hello @MattiasJay , Could you please provide a brief  related to the open API?

[2019-05-02 08:00] ruchidhami commented on #525
Hello @MattiasJay,
Have you go through the Mobility Management? Is there anything which is missing ? Please provide your thoughts.

[2019-05-02 08:20] umuieme commented on #513
@MattiasJay There are large number of groups in Sweden around 3000. When showing all those groups the map screen lags and groups overlaps as in the screenshot above. So how should we proceed with this?

[2019-05-02 13:21] MattiasJay opened #581 "News - does not work"
Hi @ruchidhami , the "news" feature in the admin panel does not work. I tried to publish a new news item now, and nothing happened. Not published.

Other questions regarding news:

1. What's the max number of characters that can fit in a news title?
2. The box where we are to write the description, in the admin panel, is very small.
3. We talked on our meetings @anjhero and @anjesh that news shoul

[2019-05-02 13:43] MattiasJay commented on #525
Hi again @ruchidhami !

Yes we still have issues with

1. Statistics, see the ongoing discussion we have had about this on Slack

2. Weird interface login at http://mm.skjutsgruppen.nu , how about updating it to look like all other login pages we have (see the other login pages you've made).

3. To make login pages distinct from each other, give the titles/haders (like "Open API", "Mobility Manage

[2019-05-02 16:42] MattiasJay commented on #562
Hi again @ruchidhami , thanks for working on this.

I'm not really sure if number one (1) is a question or a statement? If it is a question then it is correct; yes IF admin delete a participant all the information that connects to this participant should be deleted as well in accordance to GDPR law. As we have done before we put a placeholder on some places.

On the second question, do you mean wh

[2019-05-02 16:43] MattiasJay commented on #547
Hi @ruchidhami , all other issues we use Github but this one we talk about on Slack :-D

[2019-05-02 17:22] MattiasJay commented on #513
Hi again @umuieme ! Can you clarify this sentence "There are large number of groups in Sweden around 3000" ?

I suggest that we make a bundle for groups that overlap, like we did on the old webpage: http://old.skjutsgruppen.nu/search

In short; a bundle can be the same shape as the white place holders above (the "balloons") but another color and with the number of groups this bundle contains. The

[2019-05-03 04:15] ruchidhami commented on #562
@MattiasJay  Yes my question is what happen when the participant delete her/him self from the movement? There may be a popular groups, rides which is associated to them. So for now, participant's detail is not completely deleted. Please clarify such situation too.

[2019-05-03 04:30] ruchidhami commented on #581
Hello @MattiasJay, It's strange, I'v added news and it has been successfully published. From which browser you have tried?

1. What's the max number of characters that can fit in a news title?

2. The box where we are to write the description, in the admin panel, is very small.

3. We talked on our meetings @anjhero and @anjesh that news should not only be limited by time. So the "From" and "Until

[2019-05-03 05:00] ruchidhami commented on #525
Hello @MattiasJay ,

   Ok. There might be confusion on the statistics .

Login interface has not implemented from our side. It is an old mm login interface.
    http://old.skjutsgruppen.nu/users/sign_in

Can you please provide design mockup?

 Are you talking about this lists?
![tripslist (1)](https://user-images.githubusercontent.com/13533382/57120329-68a6f080-6d90-11e9-9500-1f130329a063.png)

[2019-05-03 05:10] ruchidhami commented on #547
@MattiasJay  Ok.

[2019-05-03 13:48] MattiasJay commented on #525
Answer on 3: You can make it very simple; just change the header. Example; where it says "Skjutsgruppen" on this page, change to "Open API for the non-profit ridesharing movement Skjutsgruppen" https://skjutsgruppen.nu/login

Answer on 4: Yes, that's the page. Are there any place on MM where personal information is exposed (like participants full names, e-mail, phone etc?)

[2019-05-03 13:59] MattiasJay commented on #581
Hi, I've tested on Chrome. Now I tried it again on Chrome and then on Safari (both on Mac), and still nothing happens :-)

What browser have you published from @ruchidhami ?

Answers:

2: Feel free with the size, just make it larger (like the box I'm writing in here on Github)

5: IF a link is provided in the news text (description) it should become blue and open in the default browser of the phon

[2019-05-03 14:05] MattiasJay commented on #562
Rides owned by/started by the one who deletes himself should just be deleted. Comments he or she has made in other rides/groups should be replaced with "comment deleted by participant".

For groups we have a scenario right? I think the scenario is that the group can be "taken over" by other participants, right? This may not be fully correct according to GDPR. Can we ask the participant if he or sh

[2019-05-06 04:52] ruchidhami commented on #562
Hello @MattiasJay.   Please have a final look on this.

I am gonna implement the logic as ,
1. If the admin delete the users, then all the information related to that users has been deleted. (According to GDPR law).

2. If the participant delete him/her self from the movement then

[2019-05-06 05:54] ruchidhami commented on #581
Hello @MattiasJay.   Today I've added news from the Chrome(on Mac) and it works fine. How much time it takes to load ? Does it throw any error?

[2019-05-06 10:25] MattiasJay opened #582 "Big group error; a new group is not created if... (many reports about this)"
Hi @ruchidhami , we have a big recurring error the last days that is now confirmed. A new group is not created IF participant tries to share it with his or her phone book contacts on step 5.

It seems like everthing is going well all the way, and even the "Publish" on top of the screen is seen like thi (see the picture below), but then it's not published anyway.

![photo_2019-05-06_12-32-23](https

[2019-05-07 05:47] ruchidhami commented on #562
@MattiasJay , I would like to be clear on the dialogue box. Is it just a simple dialogue box showing the message or anything else? Please give your thoughts.

[2019-05-07 05:48] ruchidhami commented on #582
Ok! @MattiasJay, We will resolve this ASAP.

[2019-05-07 08:26] umuieme commented on #513
@MattiasJay When someone loads a map of Sweden there will be around 3000 markers in the map in very low place.
In the old skjutsgruppen, I could not find a way to make it working. Also if we are to bundle them we need some standard to bundle them in one.
Can you please give more concrete example in how to bundle them?

[2019-05-07 16:28] MattiasJay commented on #513
Hi again, just so I understand, when you say "3000 markers" do you mean names of places, villages and cities in Sweden? Or what are these markers?

I suggest that the bundle would be for groups that are in the exact same geographical location, @umuieme .

[2019-05-07 16:31] MattiasJay commented on #582
Thank you @ruchidhami !

[2019-05-07 16:33] MattiasJay commented on #562
Good to be clear @ruchidhami , so we're talking about the same dialogue box. Can you print screen it and post it here so we are clear? Also, your logic above also seems good. Good job!

[2019-05-07 16:38] MattiasJay commented on #581
Hi I tried now again, and still nothing. Which Chrome version are you using @ruchidhami ?

When I press "Submit" the page just reloads and there is no error message. Just the same page in admin reloaded and nothing pulbished. I then go back to "News" in the menu and there's a red box above the "Add News" button saying "object Object" in brackets.

Can you see that we are online at the same time on

[2019-05-07 16:41] MattiasJay commented on #566
Ping about above @anjhero @anjesh @umuieme @ruchidhami 😄

[2019-05-07 22:57] Lorindellia commented on #529
Okay so I created a link with a pay per click revenue: I recieved 444 clicks, Yet no revenue.

I suspect there is a script placed by Face B that is blocking my revenue.  Can anyone help me identify the script?

[2019-05-08 19:49] MattiasJay commented on #566
Hi again, now all new text in Transifex is translated to Swedish is translated @anjhero @anjesh @umuieme @ruchidhami . Who is working with this now, is it you @umuieme ?

A large part is still not in Transifex, and that is the long texts of the Self-Sustaining Garden. Can you add those as well?

Moving on, this a part of the app that we will update with a longer text:

![no_comment_on_ride_to_umes

[2019-05-09 06:13] umuieme commented on #513
Can you provide ui for bundling the groups.

[2019-05-09 11:29] umuieme commented on #566
@MattiasJay What do you mean by the swedish date? Can you clearify that.

[2019-05-10 05:05] ruchidhami commented on #562
Hello @MattiasJay , It will look like this, if there is only one enabler in the group.

P.S: @MattiasJay I also want to recall that there is option of **delete yourself from the movement** on email too.

[2019-05-10 05:15] ruchidhami commented on #579
@MattiasJay  Now it works. Please have a look.

[2019-05-10 05:15] #579 closed, assigned to anjesh, anjhero, ruchidhami

[2019-05-12 17:21] MattiasJay commented on #581
Hi again @ruchidhami , did you see the above comment? I've now tested it on a mobile device - latest Chrome on iOS - and got this error when trying to publish news: "413 Request Enity Too Large" and "nginx/1.15.8"

[2019-05-12 17:38] MattiasJay commented on #579
It works, great job @ruchidhami !

[2019-05-12 17:54] MattiasJay commented on #562
Thanks @ruchidhami , well done.

A couple of adjustments:

1. Make it look more like our general design by making the header text in our pink, the background in the light blue we use in onboarding and the button the same as our pink buttons. Hence, the same as any page in the onboarding.

2. Regarding "pass on being an enabler" we right now have the function that if an enabler leaves the group a g

[2019-05-12 17:57] MattiasJay commented on #566
Example: On the return ride button above it says "Returresa May 05, 2019, 14.00"

In Swedish this would be spelled "Returresa 5 Maj, 2019, 14.00". As you can see, the months are spelled differently is Swedish and to say the date is in another order ("5 Maj" instead of "May 05"). @umuieme

[2019-05-12 19:41] MattiasJay commented on #513
Here's the design @umuieme :

1) Grey bundle bubble. In this example there are more than 99 groups in the same place so hence it says 99+ . The design fits all the numbers from 2 to 99. After 99 it should say 99+.

![2019_discover_groups_map](https://user-images.githubusercontent.com/10048880/57586967-edff7300-74fd-11e9-91e2-c483e8470734.jpg)

2) when clicking the bundle this page opens

![bundle]

[2019-05-13 11:59] anjesh commented on #513
This appears to be a tweaked feature which we did not anticipate. @umuieme  was referring to bundling the points in this [sense](https://github.com/novalabio/react-native-maps-super-cluster-example/blob/master/assets/demo.gif). Your approach will be a new feature for us as we will have to develop the module ourselves and will take few days of work. What do you think of this [approach](https://gith

[2019-05-13 12:34] MattiasJay commented on #513
Ah I see @umuieme @anjesh . This may do the trick as well.
1. If I understand correctly, this approach depends on zooming in the map. Correct?
2. How do this solve the problem with groups being in the exact same spot? (that was what I tried to solve with the above bundle design). We have this same "flickering" problem with rides being on the exact same spot so they overlay each other, see the worl

[2019-05-14 04:34] anjesh commented on #562
To clarify the logic before we implement this in the app

When admin deletes the user (say U1), the following will happen
* trips created by U1 will be deleted (which will subsequently deletes all the comments and experiences related to the deleted trips )
* groups created by U1 will be deleted (which will subsequently deletes all the comments related to the deleted groups)
* all the comments made

[2019-05-14 05:02] anjesh commented on #582
Done. Will be reflected on next update.

[2019-05-14 05:02] #582 closed, assigned to ruchidhami, umuieme, RaiSaugat

[2019-05-14 05:03] anjesh commented on #577
Fixed. Will be reflected on next update.

[2019-05-14 05:05] anjesh commented on #513
That's correct

This will remain as it is. Above feature will make the map screen fast, but flicker will remain when there are rides on exact same spot. This will take time and i think we need to put this under enhancement. But we will implement this [process](https://github.com/novalabio/react-native-maps-super-cluster-example/blob/master/assets/demo.gif).

[2019-05-14 08:25] ruchidhami commented on #547
Hello @MattiasJay , As per discussion on slack, Open API has been implemented with necessary fields. Please have a look.  Please re-open if any thing still remaining.

[2019-05-14 08:27] ruchidhami commented on #525
Hello @MattiasJay, MM is now completed. Please have a look . Please re-open ,if something is missing.

[2019-05-14 11:08] MartinSoderholm opened #585 "Let's Encrypt cert not valid for www subdomain"
If I go to https://www.skjutsgruppen.nu I get the following error:

![Screenshot 2019-05-14 at 12 57 56](https://user-images.githubusercontent.com/3729799/57693045-8bff5480-7648-11e9-882a-2abf3e8bcc36.png)

The cert info shows the following:

![Screenshot 2019-05-14 at 13 00 18](https://user-images.githubusercontent.com/3729799/57693077-9e798e00-7648-11e9-9c1f-434d010c41f8.png)

### Problem
The ce

[2019-05-14 11:15] MattiasJay commented on #585
Thanks @MartinSoderholm ! This is indeed a problem. On another note, can this have any connection to our e-mails from the .nu-domain keep ending up in peoples spam filters @MartinSoderholm @anjesh @umuieme @ruchidhami ?

[2019-05-14 11:21] MartinSoderholm commented on #585
Unlikely. You have a valid cert for skjutsgruppen.nu and you shouldn't need a www.skjutsgruppen.nu cert in order for emails to work properly.

[2019-05-14 12:06] MattiasJay commented on #525
Thanks @ruchidhami ! Good job with everything 👍

These two things from above keeps this issue open:

1. We still have this big question about the correct statistics (se above). I have pinged you in this discussion on Slack, so we can sort it out. Maybe @anjesh and @anjhero has some solutions for this as well?

2. The list from above now loads (though it takes a long time), but many (many) rides lo

[2019-05-14 12:40] MattiasJay commented on #547
Hi again! Seems to not be all done yet, see discussion on Slack. @ruchidhami

[2019-05-14 12:44] MattiasJay commented on #513
Proceed. Use the grey in above design in the cluster bubbles to keep in line with our design profile. @anjesh @anjhero @umuieme

[2019-05-14 12:45] MattiasJay commented on #577
Thanks @anjesh !

[2019-05-14 12:45] MattiasJay commented on #582
Thanks @ruchidhami and @anjesh !

[2019-05-14 12:51] MattiasJay commented on #562
This looks good @ruchidhami and @anjesh !

Regarding the "comment deleted" it needs to be implemented in the first scenario as well: IF participant deleted by admin THEN let it say "comment deleted".

Ok, the group part above is still not clear? Did you understand my radio button suggestion? Have you looked back at how it works today, when groups without enablers prompts the question if someone wa

[2019-05-14 14:22] MattiasJay commented on #566
@umuieme , can you upload the latest translations from Transifex so that Test Flight is up to date? @anjesh

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-14 14:31] MattiasJay commented on #566
- [x] Change ”Erbjuder samåkning” to only say ”Erbjuder”

![GitHawk Upload by MattiasJay](https://i.imgur.com/joZZYYX.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-14 14:34] MattiasJay commented on #566
- [x] Here it should say “Kommentera”

![GitHawk Upload by MattiasJay](https://i.imgur.com/mwqewjV.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-14 19:25] MattiasJay commented on #581
Hi again @ruchidhami ! Can we trie to test this during Wednesday?

[2019-05-16 04:55] ruchidhami commented on #581
Hello @MattiasJay , I've research on **"413 Request Enity Too Large" and "nginx/1.15.8"**  and got to know that , if the image size is bigger then such type of error will occurs. Please make to sure that image size is not greater than 500kb. Can you please try to post the news with less image size?

[2019-05-16 09:29] MattiasJay commented on #581
Backlog: chatting with you about this right now on Slack @ruchidhami :-)

[2019-05-16 10:10] MattiasJay commented on #581
Backlog: @ruchidhami and me today did first real news post. It still doesn’t work from my Chrome browser, so Ruchi posted it from her computer. This is the result of the first try. A still from the short film I did of it:

![GitHawk Upload by MattiasJay](https://i.imgur.com/saoklGU.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-16 10:14] umuieme commented on #566
@MattiasJay ios only allows to customize notification (i.e translate notification) when the app is in foreground i.e when the user is opening the app. But it won't let us customize if the app is in background (it shows only the message we get form server). So what to do when the user is in background? We can only show default english message when the app is in background.

[2019-05-16 10:15] MattiasJay commented on #581
This is what me and @ruchidhami concluded on Slack:

1) Can't open the news post in the app (the blinking in the movie version of above is me trying to open it)
2) This resolution will not do as you can see 😄  . We will be using this for ads and we need much higher resolution for this.
3) Also, we need some kind of direction on how the photo will be stretched out and zoomed in. As you can see this

[2019-05-16 10:47] MattiasJay commented on #566
Thanks @umuieme . Since this seems to be difficult we will, even if this is not optimal, have the notifications in English. Or are there any other suggestions on how to solve this @ruchidhami @anjesh @anjhero ? Moving on, how about the rest above @umuieme ? (most urgent being that we need the Transifex implemented, see above)

[2019-05-16 11:10] RaiSaugat commented on #581
@MattiasJay Are those two design final for the news card? The main reason behind to blur the background image was to make the text readable.  Please, give your suggestions on how to implement the design. :)

[2019-05-16 11:23] umuieme commented on #566
@MattiasJay Others translations in the app have been implemented including the one mentioned above. Only the notification is remaining in app.

[2019-05-17 04:02] anjesh commented on #566
As for the emails and tweets, the translation is tricky because it's not part of the app but rather server. We are sending emails and tweets through server and not mobile app. So far the discussion has been around transifix and mobile app only. We need to get the user selected language (se vs en) in the server, which is now only in the app. We might need to push this for later as this will require

[2019-05-17 04:08] anjesh commented on #562
We didn't understand this. Could you be more clear on the radio button suggestion and how it fits with the "delete myself" action with step-by-step diagram or text?

[2019-05-17 05:04] anjesh commented on #581
@MattiasJay we need to have simpler solution here. In design we see comments and there's still not detail page yet and we are not sure how to go about that. We need to get things ready with simple solution.

Here's our suggestion

Admin may add the following
* Title (compulsory)
* Description or URL
* Picture (compulsory)
* From-to dates

If the admin adds url, then the feed news image will open t

[2019-05-17 10:26] MattiasJay commented on #581
Hi @RaiSaugat and @anjesh . Thanks for your questions! It seems like this has not been communicated from the weekly meetings? We have in those meetings concluded that we will not have comments in news and that news is basically the same design as "Experience".

We also said that, if needed, we can trie the "darkening" of images (greyish overlay?) we use for group images for the feed version of ima

[2019-05-17 11:47] MattiasJay opened #586 "Different time stamps on ride in app and web version of card"
This has not been any problem before, has something changed @anjesh @anjhero @ruchidhami @umuieme ?

Ride in app:
![GitHawk Upload by MattiasJay](https://i.imgur.com/904SwHd.jpg)

Web version of the same ride:
![GitHawk Upload by MattiasJay](https://i.imgur.com/75LMzA5.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-20 08:35] anjesh commented on #547
@MattiasJay still not clear from Slack what you are trying to say. We have anonymised the output from the API and pasted here for discussion.

This is what the developer will get from the API. Right now, they can access the trips of any user. So we will limit that to the signed-in user only. That means whoever is signed in can access their trips only and the information related to trips like shown

[2019-05-20 08:40] anjesh commented on #581
wonderful.

We will have the following

* Admin may add the following fields
  * Title
  * Description (will have basic formatting option)
  * URL
  * Picture (compulsory)
  * From-to dates

Only the picture is compulsory. If the admin puts the URL, it will ignore the description part (if anything written) and opens the link in browser. If there's no URL, then the image will open the new view with

[2019-05-20 09:47] MattiasJay commented on #581
I love the progress on this! Great @anjesh !

When you say

- Do you mean _you_ will update this within the scope of our agreement?

We can meet you on this and be ok with this 👍 . Thank you @anjesh !

We do need in-text link to work with this update. That is core to the news function. Look at the blue link example in the picture above (in the text it says "https://example.link).

This is an examp

[2019-05-20 10:20] anjesh commented on #581
No. This will not be done within the scope of this agreement.

That's what we mean by basic formatting. You will be able to add link in the description text. There will be editor with basic features like adding link, maybe bold, italic.

This doesn't sound like extra function but the feature that we will need in this scope. URL (opening external browser) will take precedence over opening to new vi

[2019-05-20 10:28] anjesh commented on #525
We are not clear on this. We need to understand how you are getting the statistics you shared earlier.

The database and existing ruby code probably needs optimisation to make this fast and we don't do ruby. We can do only minor updates but we are not in a position to make major change there.

As for the 0 km distance, the API returns 0 KM. @ruchidhami will share such instances where 0 km was sent

[2019-05-20 10:47] MattiasJay commented on #581
Ah good! I thought you meant that IF any link in _the description_, it would disregard the whole description and send to default browser. I'm happy that this is not what you meant :) . So what you mean is an extra field in the admin section with _only_ link.

I'm referring to the date the news was added that in the design above is the small small line of text saying "2019-02-03"

Ok. Add a new iss

[2019-05-20 11:07] anjesh opened #587 "Updates in News feature"
- [ ] share option is added in news view in the app
- [ ] "more news" feature is added in news view

UI for both the above feature is [here](https://github.com/Skjutsgruppen/skjutsgruppen-reactnative/issues/581#issuecomment-493405452)

[2019-05-20 11:08] anjesh commented on #581
Thanks.

Understood now.

Added https://github.com/Skjutsgruppen/skjutsgruppen-reactnative/issues/587

[2019-05-20 11:35] ruchidhami commented on #525
Hello @MattiasJay

  From: Jönköping -- To: Malmö
  Distance: 0 km

The above example  **Jönköping - Malmö**  trip was created in the year 2013 and 2014. Since on that time there was no distance on database. so during the data migration process such trips have set the 0 distance value.

There are various scenario which makes the distance value 0.

 1. The trips  started let's say from **Anywhere(e

[2019-05-20 11:46] ruchidhami commented on #586
Hello @MattiasJay , Because of the time zone the date are different.
In app, date is display as user time zone and in web date is display as GMT:00.

[2019-05-21 09:59] MattiasJay commented on #566
Ok, @anjesh : make the things we can't translate to new issues for backlog.

@umuieme : you need to go through the above things. The Transifex translations are still not updated in the Test Flight app. Here's an example on onboarding:

![GitHawk Upload by MattiasJay](https://i.imgur.com/8aWXLMd.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

All of onboarding is translated her

[2019-05-21 11:14] MattiasJay commented on #562
The radio button would be the same as we use on onboarding, like this:

![delete_yourself](https://user-images.githubusercontent.com/10048880/58091274-7bf7ef80-7bc9-11e9-8450-fb88b14ca2ba.jpg)

- [x] The radio button should be unchecked as default. This is important.

IF radio button is checked THEN this will happen in groups that **_only have this participant_** as enabler: https://github.com/Skj

[2019-05-21 11:59] MattiasJay commented on #586
Hi again @ruchidhami , can you explain this a bit more? I have the same time zone for both web and app, and use both the app and the webpage in Sweden. @anjesh

[2019-05-21 12:24] anjesh opened #589 "Translations based on lang-config in server"
- [ ] API is update to send user-language settings to the server
- [ ] Tweets are translated
- [ ] Emails are translated
- [ ] Push notifications are translated in the server and pushed to the app

See the discussion here https://github.com/Skjutsgruppen/skjutsgruppen-reactnative/issues/566#issuecomment-493311343 for this part of translation

[2019-05-21 13:40] MattiasJay commented on #568
Yesterday my support appeared in the feed again.

The feed entrys of participants supporting are only supposed to happen _when they start supporting_, not every time a new month and/or year starts @ruchidhami @anjesh @umuieme . As you can see the text is very confusing if it is like it is now; "Mattias just supported..." (since I didn't, this was just automatic)

The only case they would happen ag

[2019-05-21 13:50] MattiasJay opened #590 "Crash report: When you press a date in the calender in groups, that does not have a color (pink or blue) the app crashes (iOS)"

[2019-05-21 14:34] MattiasJay commented on #574
As @anjesh wrote above, the box background should have the standard transparent grey. Right now it hasn't.

![wrong_design_garden_popup](https://user-images.githubusercontent.com/10048880/58105030-19611c80-7be6-11e9-9758-52301d431eb6.jpg)

- [x] Fix so the text "Support the garden to add a photo" is centered as has the correct spacing

- [x] Fix standard transparent grey background

@ruchidhami @R

[2019-05-22 09:10] ruchidhami commented on #568
Hello @MattiasJay,

It's seems confusion on this part.
Firstly you've supported for the plan **55 Kr per six month** on `2018-10-14` and it auto-renewed automatically after six months  i.e on `2019-04-18` and on that time feed card has not created . And now you've supported for **29 Kr per month** on `2019-05-18` which is a new plan. This case is not a auto-renewal case and that's why new card has

[2019-05-22 09:17] ruchidhami commented on #577
@MattiasJay  This issue has been re-solved and reflected on app. It takes 5-6 sec to reflect if there is no any new notifications.

[2019-05-22 09:17] #577 closed, assigned to ruchidhami, umuieme, RaiSaugat

[2019-05-22 09:25] MattiasJay commented on #577
Thanks @ruchidhami ! Good job on this! @anjesh

[2019-05-22 10:08] MattiasJay commented on #568
This is interesting. I'm looking right now on my subscriptions in the iTunes Store and can conclude that I only have the 29 SEK/month subscription. I don't have the 55 SEK anymore, as should be (since we don't have that option in the garden).

However, when I started my 29 SEK subscription it actually got a card in the feed, I checked for this and that is what happened. It seems to be in accordanc

[2019-05-22 11:18] ruchidhami commented on #568
Hello @MattiasJay ,
I was confused on the 55kr plan, since there is no such type of plan for now. That plan was created during the testing phase and was inserted on database. I got your point, I will fix it soon and will ping you. :)

[2019-05-22 11:54] MattiasJay commented on #568
Thanks @ruchidhami ! This was a tricky one, so it would have been hard to spot without looking through iTunes and see how it turns out. Thanks for working on it!

[2019-05-22 11:57] MattiasJay commented on #581
Can you give me a progress update on this, @ruchidhami @RaiSaugat & @anjesh ?

[2019-05-24 12:07] MattiasJay commented on #566
Good job with the Swedish dates @umuieme . I found that it's still wrong Swedish date on profiles:

![GitHawk Upload by MattiasJay](https://i.imgur.com/Ge7x7ZT.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

- [x] Fixed

@anjesh

[2019-05-24 12:16] MattiasJay commented on #566
Three things in this picture

Spacing, shown with black arrows
- Space between the word "gruppen" and the group name, in this case "Urkult"
- Spacing between the word "Returresa" and the date

Word, shown with yellow highlight
- Change the word "Returresa" to only "Retur" (and make sure the spacing metioned above remains)

![GitHawk Upload by MattiasJay](https://i.imgur.com/portIkj.jpg)

<sub>Sent

[2019-05-27 13:47] MattiasJay commented on #568
Also @ruchidhami , this is wrong. I have now supported two times (two months) with 29 SEK each month. But as you can see in this screenshot from today it doesn’t show in the total: ![GitHawk Upload by MattiasJay](https://i.imgur.com/dIAdtsk.jpg)

@anjesh @umuieme

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-27 15:12] MattiasJay commented on #566
Onboarding changes, part 1:

1.1
![GitHawk Upload by MattiasJay](https://i.imgur.com/eG1GsY8.jpg)

- [x] Change the English text to

Välkommen till den ideella samåkningsrörelsen Skjutsgruppen

1.2
![GitHawk Upload by MattiasJay](https://i.imgur.com/28CgEls.jpg)

- [x] Find a solution for overlapping. Like make the page longer so "Next" doesn't appear above/under the text

1.3
![GitHawk Upload by

[2019-05-28 11:49] MattiasJay opened #592 ""Action Required: Create a 64-bit version of your app(s) by Aug 1, 2019""
By August 1, 2019, all apps that use native code must provide a 64-bit version in addition to the 32-bit version in order to publish an update. This past January, we reiterated that this is required in order to make way for innovation and in anticipation of future Android devices that only support 64-bit code.As the deadline approaches, we wanted to remind you that at least one of your apps* uses

[2019-05-28 13:31] MattiasJay commented on #578
This is still the case today. If you trie to delete a ride you have made @ruchidhami @umuieme , do you see this as well?

[2019-05-28 13:41] ruchidhami commented on #578
Yes we're aware about this issue.. This has been solved and pushed upto test flight. Please have a look on test flight and confirm it.

[2019-05-28 13:57] umuieme commented on #590
@MattiasJay Can you tell me which group are having these issues or the video recording. Its working without crash when i tested.

[2019-05-29 12:00] MattiasJay commented on #590
Hmm I'm not able to recreate the issue. I know this happened on an older iPhone, but since I can't recreate the issue right now I suggest we close this and you focus on the Swedish translation instead @umuieme . @anjesh

[2019-05-29 12:00] #590 closed, assigned to anjesh, anjhero, ruchidhami

[2019-05-29 12:13] MattiasJay commented on #578
Thank you @ruchidhami !

[2019-05-31 12:52] MattiasJay commented on #568
This happened today again for another participant @ruchidhami :

[2019-06-02 19:36] MattiasJay commented on #566
Sorry for the confusion @umuieme , the

from above

was supposed to be with large letters according to the design, so change "Erbjuder" to ERBJUDER

- [ ] Changed "Erbjuder" to ERBJUDER

[2019-06-02 19:38] MattiasJay commented on #566
Good that you put in the text above @umuieme :

How ever, the paragraphing I made was on purpose :-) . Right now there's no paragraphing, and it look like this:

![GitHawk Upload by MattiasJay](https://i.imgur.com/5ENMEU3.jpg)

As you can see it also goes to the very end of the screen. Instead, follow the design rule edges followed by the text above from the ride. I've pointed yellow arrows to the

[2019-06-02 19:50] MattiasJay commented on #566
Something seem to be off in Testflight @umuieme @anjesh @ruchidhami . It's so slow so hardly anything loads. Can you look into this so we can test properly? Also, see the above comment about being able to test the whole new-participant scenario. Big thanks!

[2019-06-02 19:54] MattiasJay commented on #566
This is in English:

![GitHawk Upload by MattiasJay](https://i.imgur.com/t3lCWiL.jpg)

- [ ] Change ”OR” to ELLER

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-02 20:37] MattiasJay commented on #566
![GitHawk Upload by MattiasJay](https://i.imgur.com/eOmvc5U.jpg)

- [ ] Change ”Pick a date” to ”Välj datum och tid”
- [ ] Change ”Confirm” to ”Bekräfta”
- [ ] Change ”Cancel” to ”Avbryt”

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-02 20:40] MattiasJay commented on #566
Is it possible to get the Google places results in Swedish @anjesh @umuieme @ruchidhami ?

![GitHawk Upload by MattiasJay](https://i.imgur.com/eiU6GcO.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-02 20:54] MattiasJay commented on #566
- [ ] IF the app is used in Swedish THEN get the Swedish search results from Google. Example here when it says "Sweden" instead of "Sverige" (Swedish for "Sweden) :

![GitHawk Upload by MattiasJay](https://i.imgur.com/EBZaTu5.jpg)

I found a couple of suggestions on Stack overflow worth to investigate more, and there are probably even better suggestions there as well: https://stackoverflow.com/que

[2019-06-03 04:17] ruchidhami commented on #568
Both issue has been solved @MattiasJay

[2019-06-03 04:50] ruchidhami commented on #566
Hello @MattiasJay , For this

You can provide me the sms code and phone number so that I can directly verify the user account.

[2019-06-03 04:53] ruchidhami commented on #578
Hello @MattiasJay  Could you please verify this issue? It has been pushed in test filght.

[2019-06-03 04:54] ruchidhami commented on #574
@MattiasJay  Please verify this issue, it has been pushed on test flight.

[2019-06-03 04:56] ruchidhami commented on #562
@MattiasJay , This has been implemented and  pushed on test flight. Please confirm it.

[2019-06-03 04:57] ruchidhami commented on #581
Hi! @MattiasJay  This has been implemented . Please confirm it from test flight.

[2019-06-03 04:59] ruchidhami commented on #580
@MattiasJay , It will take some seconds to load the message first and then render on message section. Please have a look and confirm this issue.

[2019-06-03 05:00] ruchidhami commented on #547
Hi! @MattiasJay , Please have a look on the this, it has been implemented as per discussion on slack.
Please comment, if there need to changes anything .

[2019-06-03 05:04] ruchidhami commented on #513
Hi! @MattiasJay , This has been pushed . If there needs to change any thing please comment.

[2019-06-03 05:14] ruchidhami commented on #586
Hi @MattiasJay, In app, time has been be taken from mobile time zone but in webpage time has been taken from database which is in GMT:00 format rather than from the web time zone.
For the time zone of webpage, we have to research for that and will take time to implement.

[2019-06-03 12:42] MattiasJay commented on #581
Hi @ruchidhami , I'm testing this right now. Still not possible to upload news from Chrome so I've downloaded Firefox instead. Same thing there, nothing happens. After pressing "submit" the page reloads --> same page again --> nothing has been published in the feed in the app. This is now very urgent for us. @anjesh

**Update:**
We have now tested on a PC as well, with the same result.

So far the

[2019-06-03 14:19] MattiasJay commented on #574
Hi @ruchidhami , I'm locked out from verifying this issue, since my account already is an paying account (supporter). An easy way: Can you make a screenshot on an iPhone and an Android and post here?

[2019-06-03 14:23] MattiasJay commented on #562
@ruchidhami , see below. The group count is out of place

![GitHawk Upload by MattiasJay](https://i.imgur.com/taD4Ant.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-03 14:31] MattiasJay commented on #513
Example; zooming in Gothenburg. There's 23 groups here I can't access or see:

![GitHawk Upload by MattiasJay](https://i.imgur.com/iX3tzyG.jpg)

[2019-06-03 14:40] MattiasJay commented on #586
ok @ruchidhami . What's your suggested research steps?

[2019-06-03 14:45] MattiasJay commented on #547
@anjesh has asked us to use a Google Doc for this discussion @ruchidhami , there seems to be things still do be discussed, see the Google Doc.

[2019-06-03 14:54] MattiasJay commented on #580
Today the lag is longer then it has ever been. Can it be a Test Flight issue? How does it look like in Test Flight for you @ruchidhami ?

[2019-06-03 15:07] MattiasJay commented on #566
Thanks @ruchidhami ! I've sent you this on Slack.

[2019-06-04 04:18] umuieme commented on #513
@MattiasJay Those 23 groups are in exact same coordinates. That's why zoom has no effect on them. If you click in the 23, it will redirect you to the search screen with the source and destination prefilled and group filter selected from where you can proceed to see the group search result screen.

[2019-06-04 04:32] ruchidhami commented on #581
Hello @MattiasJay , Could you please provide me the news details, so that I can try to publish from my pc? Now I've set upto 20MB image to upload.

[2019-06-04 04:35] umuieme commented on #574
Here is the screenshot for ios

![IMG_113B3E45FFC3-1](https://user-images.githubusercontent.com/13749337/58850919-5500e980-86b0-11e9-8165-3a646d529b89.jpeg)

And here is the screenshot for android

![IMG_113B3E45FFC3-1](https://user-images.githubusercontent.com/13749337/58851397-54695280-86b2-11e9-8ec0-4cfe4fc720fc.jpeg)

[2019-06-04 08:10] MattiasJay commented on #513
Thanks for your work @umuieme . This is unintuative when we are testing this right now, so we will keep this issue open for further development.

**Notes for further development:**
- See the preferred design above for view when pressing a grey place holder containing groups that are on the exact same spot (we have many of those).

[2019-06-04 08:52] MattiasJay commented on #581
I see the update today with the editing tool, looks good @ruchidhami .

Backlog: we are still not able to publish from Chrome on Mac. But for design purposes @ruchidhami has tested on her computer. Here are the feedback on the first test:

![01_comments_on_news_design](https://user-images.githubusercontent.com/10048880/58865401-ca6fb880-86b6-11e9-88cd-4cc7def0172e.jpg)

- [x] Spacing

- [x] Size o

[2019-06-04 09:28] MattiasJay commented on #581
![02_comments_on_news_design](https://user-images.githubusercontent.com/10048880/58867906-8fbc4f00-86bb-11e9-9e50-19aae0a74f31.jpg)

- [x] Shorter picture

- [x] Similiar feedback as above: NEWS and NYHETER (large letters)

- [x] No drop shadow on "NYHETER" and "NEWS"

- [x] Correct the back arrow

- [x] Spacing of title

[2019-06-04 09:41] MattiasJay commented on #581
![03_comments_on_news_design](https://user-images.githubusercontent.com/10048880/58868594-f130ed80-86bc-11e9-89a9-d8a93f7a8479.jpg)

- [x] Implemented top box design priciple (the back arrow should not be floating on top of content)

- [x] Correct space between text and title

- [x] Correct spacing in text

- [x] Correct font for text

- [x] Bold link

- [x] Correct color for link

- [x] Correct f

[2019-06-04 09:46] MattiasJay commented on #581
Tried with a long title, that broke the design.

- [x] Set a character limit for the title, so it doesn't break design.

- [x] Add a text with the optimal picture size in the admin panel:

- Hight and length
- Maximum file size
- Optimal / suggested type pf picture (jpg or png or other)

[2019-06-04 10:58] MattiasJay opened #596 "IF image too large when creating group or adding photo to ride - no error message is shown and the group/ride will still be "published" (but it's not, which is very confusing)"
We have finally figured out how come we have had so many reports about this. Everything seems to be fine and participants can go through the whole process of creating a group or a ride, adding a photo included. It even gets to the last step where it says it's published.

The thing is that it _says_ they are published, but they are not.

It was not until today when we discussed picture sizes @ruchi

[2019-06-05 13:18] MattiasJay commented on #566
Note to all of us:

This was a tricky translation that we will need to look closer at in the app when it's implemented (not clear in Transifex)

- [ ] Checked and cleared by Swedish speaking person

[2019-06-05 18:38] MattiasJay commented on #566
Once again, as we asked for above (28 days ago and 15 days ago) the large section of the self-sustaining garden is still not in Transifex:

This is the section in inVision: https://invis.io/MTQX7KLGC6K#/295156671_Support_Goes_To

Update this in Transifex and ping me when your are done @ruchidhami @umuieme @anjesh

- [ ] Updated

- [ ] Ping Mattias

[2019-06-06 04:36] RaiSaugat commented on #581
@MattiasJay  We implemented the news screen on feed according to the
https://projects.invisionapp.com/d/main#/console/12489615/280148483/preview . But we didn't have the psd file so the design didn't match.
To match exactly with design, could you provide psd file for the news feed on feed screen.
Also please provide:
1) Character limit for the title.
2) Maximum size of the picture

And what does h

[2019-06-06 04:44] ruchidhami commented on #581
Hello @MattiasJay,

     Upto 20 MB.

    Only JPG, JPEG and PNG are allowed.

[2019-06-06 09:36] MattiasJay commented on #581
Hi @RaiSaugat and @ruchidhami ! Thanks for your swift and good work on this! We appreciate it a lot!

These designs are now on the Drive as well.

In accordance with the design, the character limit should be `50 characters`

Is the "Maximum size of picture" the same as @ruchidhami then answered to?  (20 MB?)

The optimal length and height is something that social media platforms use to know how to

[2019-06-06 10:24] almereyda commented on #585
The http://www. address is also announced as this repositories URL on https://github.com/Skjutsgruppen/skjutsgruppen-reactnative/

[2019-06-07 10:40] MattiasJay commented on #581
Hi again @ruchidhami and @RaiSaugat !

Nice update today! We like what we're seeing, good job! 👍

It seems like we are very close now. While testing, some things are still to be done. To be able to have quick overview, please check the check boxes above of what is done. Thanks!

1) When clicking a link _in text_ and then returning to the app, the link is suddenly embedded in the app:

![GitHawk Up

[2019-06-10 09:01] MattiasJay commented on #574
This seems to be a mix of Swedish and English @umuieme and @ruchidhami ?

Tell me more about this.

[2019-06-10 09:11] MattiasJay commented on #568
This view is still confusing @ruchidhami , we have to get this right:

![GitHawk Upload by MattiasJay](https://i.imgur.com/REFgt4o.jpg)

This is what we need to do:

1) Look at the design here: https://projects.invisionapp.com/d/main?origin=v7#/console/12489615/295069413/preview

Look at how the different sums have their own sections. Let's bring that back, that would make it less confusing.

- [

[2019-06-10 11:49] MattiasJay commented on #566
Change the word ”samåkning” here to ”skjuts”:

![GitHawk Upload by MattiasJay](https://i.imgur.com/EEYFwlS.jpg)

- [ ] changed ”samåkning” to skjuts

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-10 11:51] MattiasJay commented on #566
Also, change the word ”samåkning” here to ”skjuts”:

![GitHawk Upload by MattiasJay](https://i.imgur.com/x2vA061.jpg)

- [ ] changed ”samåkning” to skjuts

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-10 11:57] MattiasJay commented on #566
In groups we also have to change the same words. Here in the text and in the smaller ”ride box”:

![GitHawk Upload by MattiasJay](https://i.imgur.com/my61f5V.jpg)

- [ ] Change ”samåkning” to ”skjuts” in the text

- [ ] Change the same in the smaller ride box; from ”Samåkning” to skjuts

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-10 12:13] MattiasJay commented on #566
In the hamburger menu in the feed:

![GitHawk Upload by MattiasJay](https://i.imgur.com/g2tGm1h.jpg)

- [ ] Change “Erbjudna samåkningar” to ”Erbjuder”

- [ ] Change ”Ber om samåkning” to ”Ber om”

- [ ] Change the English word ”Cancel” to ”Tillbaka” (it means ”back” and makes more sense here)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-10 14:38] MattiasJay commented on #566
The flexible times are not in Swedish yet:

![GitHawk Upload by MattiasJay](https://i.imgur.com/Q2CIAHl.jpg)

The flexible times in Swedish should be

- Minutes, in Swedish: "Minuter" - _IF_ only one _THEN_ "minute"
- Hours, in Swedish: "Timmar" - _IF_ only one _THEN_ "timme"
- Dagar, in Swedish: "Dagar" - _IF_ only one _THEN_ "dag

- [ ] Changed flexible times on cards to Swedish

<sub>Sent with

[2019-06-10 14:45] MattiasJay commented on #566
Change to Swedish:

![GitHawk Upload by MattiasJay](https://i.imgur.com/RGxfAKD.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

- [ ] Change from English word "GROUPS" to Swedish word "GRUPPER"

[2019-06-10 14:48] MattiasJay commented on #566
Similar as above, but on feed map:

![GitHawk Upload by MattiasJay](https://i.imgur.com/Z69Q7Mr.jpg)

- [ ] Change “Erbjudna samåkningar” to ”Erbjuder”

- [ ] Change ”Ber om samåkning” to ”Ber om”

- [ ] Change the English word ”Cancel” to ”Tillbaka” (it means ”back” and makes more sense here)

[2019-06-10 14:51] MattiasJay commented on #566
The "This is how we know each other"-function is not translated to Swedish, and hence not in Transifex:

![GitHawk Upload by MattiasJay](https://i.imgur.com/DaukvAN.jpg)

In Swedish the sentence would be (I've made the names bold so you can single them out) :
"Du känner **Mira** och **Simeon** som känner **William** och **Lars** som känner **Mikaela** och **Olivia** som känner **Kyong**"

Ask me i

[2019-06-10 17:01] MattiasJay commented on #566
Calender in recurring ride is not in Swedish:

![GitHawk Upload by MattiasJay](https://i.imgur.com/czk3oud.jpg)

- [ ] Made calender in recurring ride to Swedish

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-10 17:01] MattiasJay commented on #566
Delete the word "resa" so it fits on one line and doesn't page break. The word that should remain is "Återkommande":

![GitHawk Upload by MattiasJay](https://i.imgur.com/zg0m9ZV.jpg)

- [ ] Deleted "resa" and kept "Återkommande"

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-10 18:00] MattiasJay commented on #566
This seems to remain from older versions. In English we’ve changed “A programmer” to “Programming” and the same should be changed in Swedish.

Instead of “En programmerare” it should say ”Programmering”

![GitHawk Upload by MattiasJay](https://i.imgur.com/ezXpfLs.jpg)

- [ ] Change to ”Programmering”

- [ ] Check the recurring instances of this in other parts of The Self-Sustaining Garden

<sub>Se

[2019-06-11 04:20] umuieme commented on #574
The translation was not available when i updated the screen. but it has been implemented in testflight. This is the updated screenshot

![IMG_23952D3AD35D-1](https://user-images.githubusercontent.com/13749337/59243569-5db56a80-8c30-11e9-876c-5d2dd806a499.jpeg)

[2019-06-11 04:51] umuieme commented on #568
@MattiasJay  Regarding the design in the invision, how should be show the renewed packages. For example if 29 Kr/month is renewed and there are two transaction for 29Kr/month, how to show those two transaction?

[2019-06-11 11:54] MattiasJay commented on #574
Looks good now @umuieme @ruchidhami !

[2019-06-11 11:54] #574 closed, assigned to RaiSaugat

[2019-06-11 12:08] MattiasJay commented on #568
Hi @umuieme ! Do you mean _IF_ a package is renewed?

[2019-06-12 03:45] umuieme commented on #568
@MattiasJay Yes thats what i mean.

[2019-06-12 15:32] MattiasJay commented on #566
![GitHawk Upload by MattiasJay](https://i.imgur.com/lwDyFRI.jpg)

- [ ] Change ”Deleted participant” to Borttagen deltagare

- [ ] Change ”Comment deleted” to Borttagen kommentar

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-13 08:33] MattiasJay commented on #188
This Seems to be a similar problem to what @shresthaKiran fixed 9 months ago:

This trip is to “Malmö”:
![GitHawk Upload by MattiasJay](https://i.imgur.com/zZrTFaK.jpg)

But when searching from ”Anywhere” to ”Malmö” the trip is not seen in the search results:

![GitHawk Upload by MattiasJay](https://i.imgur.com/dmz0OLD.jpg)

Reopening this issue, ping @ruchi and more.

<sub>Sent with <a href="http

[2019-06-13 10:41] MattiasJay commented on #581
Hi again @ruchidhami and @RaiSaugat , we need an update about this. Please use the checkboxes above. We tried another test now and there's cropping of the image, but what is the cropping you use? (same question as above; optimal size)

[2019-06-14 10:09] MattiasJay opened #599 "Wish list: Reduce the number of (sequential) backend calls"
The app loads very slowly. On our wish list is to make it fast, very fast. @joelpurra suggested to phrase it this way to make it as easy to understand as possible;

[2019-06-14 10:19] joelpurra commented on #599
Note that my phrasing is based on a single look at a single slow-loading part, which @MattiasJay showed me. I am not a Skjutsgruppen user. It can of course have other causes, such as too many _parallel_ (as opposed to sequential, but there can be a mix) calls overloading some part of the system.

[2019-06-18 12:06] MattiasJay commented on #596
Hi again @ruchidhami . The image cropping update does not seem to work after todays update. There’s two examples in the app feed right now. First example had a weird cropping, and the second is this example that doesn’t show the picture I added at all (just a grey background)

![GitHawk Upload by MattiasJay](https://i.imgur.com/xCD17VT.jpg)

Same with rides, it seems like it zooms in. A lot:

![Gi

[2019-06-18 12:37] MattiasJay opened #600 "Urgent: no image uploading is working properly"
This was needed to be added as a new urgent issue, reference issue #596

- [x] Image cropping update not working properly when adding new group.

- [x] Same for rides: Image cropping not working properly when adding new ride.

- [x] Also reports (even in Google Play store) about profile photo upload does not work properly.

- [x] Don't close this issue before **Experience** is checked as well. Doe

[2019-06-18 13:13] MattiasJay commented on #581
While waiting for your answer we have begun experimenting. We tried to upload this news picture:

![test_appen](https://user-images.githubusercontent.com/10048880/59685075-9da1c200-91db-11e9-8372-3afe6e3f535d.jpg)

But this is the result of the cropping in the app:

![GitHawk Upload by MattiasJay](https://i.imgur.com/iklw3ri.jpg)

I will be calling you about this tomorrow @anjesh

[2019-06-20 09:46] anjesh commented on #581
I think there has been confusion about the image spec and the screen and with this comment https://github.com/Skjutsgruppen/skjutsgruppen-reactnative/issues/581#issuecomment-498595353, things got confusing because the image and design appears to differ according to devices. We either have to crop the image accordingly and it makes things worse because cropping feature doesn't have any context on w

[2019-06-20 09:59] MattiasJay commented on #581
Hi! We have since a year had a good cropping of images connected to groups. For this it's adjusted accordingly. So there seems to be working solutions for this already implemented in our system.

I assume there's a different device solution that apps like Facebook use, have you looked into how they do it and what are your conclusion after this?

~~A big thing is that quality of the picture should

[2019-06-20 10:38] MattiasJay opened #601 "Urgent: App crashes when adding a ride"
Obviously very urgent @umuieme @RaiSaugat @anjesh @ruchidhami . I've posted a video of the repeated crashes on Slack.

[2019-06-20 10:58] MattiasJay opened #602 "Crash report: Xiaomi Mi A1"
Report from participant:

[2019-06-20 11:42] MattiasJay commented on #601
The reports keeps coming in about this. Sometimes it seems connected to adding a ride on the same day (like today the 20th). Sometimes it's just any ride. It's no pattern to it.

[2019-06-20 13:26] MattiasJay commented on #581
Scratch the part above with the picture quality @ruchidhami and @anjesh . It seems to be working good now for the purpose of the ad we are publishing today.

[2019-06-21 09:38] MattiasJay commented on #600
Testing this with @umuieme right now.

[2019-06-21 09:38] MattiasJay commented on #601
Testing this with @umuieme right now.

[2019-06-21 10:32] #600 closed, assigned to anjesh, ruchidhami, umuieme

[2019-06-21 10:34] MattiasJay commented on #581
Update: In conversation with @umuieme on Slack we have decided to keep the size of the news function photos they way it is in version 1.3.1. This will do for now.

[2019-06-21 10:36] MattiasJay commented on #581
We have an breaking of words due to screen sizes that seems to happen on mainly Android phones. Here are two examples from @umuieme 's Android and our Android. It's the word "tillsammans" that breaks up in both instances. Any suggestions on how to fix this?

Example one:
![GitHawk Upload by MattiasJay](https://i.imgur.com/nGxj8zv.jpg)

Example two:
![Screenshot_2019-06-21-16-13-51](https://user-im

[2019-06-21 11:39] ruchidhami commented on #568
Hello @MattiasJay , any update on this ?

[2019-06-21 11:43] ruchidhami commented on #578
This issue has been resolved many days before. @MattiasJay

[2019-06-21 11:43] #578 closed, assigned to anjesh, ruchidhami, umuieme

[2019-06-21 11:59] ruchidhami commented on #581
@MattiasJay
The below screenshot has taken from the android phone. After talking with team, we have concluded that,  Word breaks will definitely happens at some point, it depends on the size of the screen. We can't control the word break.

Suggestion: We can make font size smaller, but we're not sure it will works for all screen size.

[2019-06-21 12:02] ruchidhami commented on #562
Hello @MattiasJay, The above bug has been resolve, please finalize this issue.

[2019-06-21 12:09] MattiasJay commented on #562
Hi @ruchidhami , in the Swedish version it's a mix of English and Swedish. I guess this is because this text has not been in Transifex to translate, yet?

[2019-06-21 12:11] ruchidhami commented on #562
Yes.

[2019-06-21 12:13] MattiasJay commented on #581
We can use @umuieme 's phone as an example. Trie to just implement an Android fix for this, using @umuieme 's phone as blue print. It seems like we just need to make sure the "s" in "tillsammans" appears on the same line on his phone, so not a big change in font size, just a couple of pixels @ruchidhami .

Screenshot his phone when you have done that and upload here so we can see. Thanks for looki

[2019-06-21 12:25] MattiasJay commented on #568
There can't be two 29 SEK supports _live_ at the same time, since neither Apple or Google allows that.
 IF you have previously supported with 29 SEK and THEN stopped, and then started again later, there will still only be one (1) active support.

Look at the decision with @anjesh from above, we decided to skip the sentence "You have supported six months so far."? and make it more cleaner.

1. An *

[2019-06-21 12:25] MattiasJay commented on #562
Ok, so we need to add that to Transifex as well

[2019-06-25 11:33] MattiasJay opened #603 "Crash report: when pressing the "Recurring rides" button on a ride, the app crashes. (iOS)"
There's a short film about the crash on Slack @ruchidhami & @umuieme .

[2019-06-25 15:21] MattiasJay opened #604 "Crash report: Pressing the calendar icon in a group causes the app to crash (iOS)"

[2019-06-26 11:12] MattiasJay commented on #105
We have to reopen this because today "Messages & groups" doesn't load at all.

[2019-07-10 09:41] maxlath opened #606 "dependency on Google Play services"
Alternatively to installing the app from F-droid #559, I installed the app using [Yalp](https://f-droid.org/en/packages/com.github.yeriomin.yalpstore/). The installation process went well but once I opened the app, I got the following message: "Skjutsgruppen won't work without Google Play services, which aren't compatible with your device" (the error message might be approximate as its translated

[2019-12-12 09:30] MattiasJay opened #607 "Wrong search result: direction"
Wrong, since there are are at least one ride going north from Stockholm

[2019-12-12 09:36] MattiasJay commented on #607
![Image](https://i.imgur.com/nvO6jt5.jpg)

[2019-12-12 09:54] MattiasJay opened #608 "GPS in search"
The GPS in search does not work, in Swedish called “Från där jag är nu”

[2019-12-12 10:00] MattiasJay opened #609 "Vita boxes är borta i TestFlight-versionen"
Boxen ska vara här:

[2019-12-12 10:00] MattiasJay commented on #609
![Image](https://i.imgur.com/Muzbmvx.jpg)

[2019-12-12 10:03] MattiasJay opened #610 "TestFlight: När man en gång kommenterat men tar bort sin kommentar så försvinner "Kommentera här"."

[2019-12-12 10:05] MattiasJay opened #611 "TestFlight: Dela-symbolen uppe i högra hörnet på samåkningar har försvunnit"

[2019-12-12 10:29] MattiasJay opened #612 "TestFlight: Den blå bollen hänger kvar i bakgrunden på startfeeden. Det är fel."

[2019-12-12 10:52] MattiasJay opened #613 "Smoothness"
Saker som är smooth i nuvarande version är inte så smooth i senaste TestFlight-versionen @normacdylan .Exempel:

- [ ] När man scrollar neråt och sen går in på en samåkning från start feed-flödet, och sedan går tillbaka så hamnar man överst i feeden igen

Det är lite mer "stelt" så att säga. Minns du när vi pratade om transitions @Xupet ?

[2019-12-17 10:26] MattiasJay opened #614 "Lovisa rapporterar att hon fick 404-felmeddelande när hon försökte återställa sitt lösenord"
Lovisa rapporterar att hon fick 404-felmeddelande när hon försökte återställa sitt lösenord (Lovisa finns med i Slack-kanalen för open source). Har det att göra med backend-problematiken senaste dagarna @Xupet @normacdylan ?

[2019-12-18 07:46] MattiasJay opened #615 "TestFlight: Kan ej erbjuda skjuts"
TestFlight på iPhone6.

Kan ej erbjuda skjuts. Tog denna bild för att visa att flexibel tid hamnar utanför bild:

När jag sedan återvänder till appen så loopas jag tillbaka till steg 1 av erbjuda skjuts och inga av de uppgifter jag matat in finns kvar.

[2019-12-18 07:47] MattiasJay commented on #615
Denna bild, flexibel tid hamnar utanför skärmen:

![Image](https://i.imgur.com/bsfPRvk.jpg)

[2019-12-18 08:13] MattiasJay opened #616 "TestFlight: Vänskaps-push-notification leder inte till någonting"
Efter tryckt på push notification om att blivit vän med August så öppnas vyn att lägga till skjuts/grupp. Det är August profil som ska öppnas.

[2019-12-18 08:18] MattiasJay opened #617 "TestFlight: samma problem med att be om skjuts; går inte"
Även här ligger flextiden utanför bild (se skärmdump på ”Erbjud skjuts”). Efter att ha skapat denna issue och återvänt till appen så loopas jag även här tillbaka till ruta ett och all inmatad information är försvunnen.

[2019-12-18 15:06] MattiasJay opened #618 "TestFlight: kan ej längre flytta runt stopp längs vägen"
IPhone 6

När erbjuda skjuts så har det kunnat gå att byta ordning på stopp längs vägen (”stannar i”)

[2019-12-18 15:13] MattiasJay opened #619 "These buttons are wrong"

[2019-12-18 15:14] MattiasJay commented on #619
![Image](https://i.imgur.com/BTOBgZb.jpg)

[2019-12-18 15:16] MattiasJay opened #620 "Krasch i TestFlight: Skapa Erfarenhet"
iPhone 6. Öppnade menyn i erbjuden skjuts -> tröck på ”Skapa Erfarenhet” -> hela appen kraschade. I

[2019-12-18 15:26] MattiasJay opened #621 "GPS-krascher i TestFlight"
Här samlar vi krascher gällande GPS i nya bygget med WeApp.

- [ ] När Michael delade sin position så ledde push notification inte till någonting.

- [x] När jag började dela min position så kraschade appen

- [x] Pulseringen i menyn har försvunnit, när man delar position eller får position delad till sig. Se design i inVision

- [x] Tids-tickern där man delar position verkar ha försvunnit (det är

[2019-12-18 16:15] MattiasJay opened #622 "Tur- och retur-resor ej korrekt kopplade till varandra"
Note to self: kom ihåg att gå igenom detta noggrannare

[2019-12-19 12:02] MattiasJay opened #623 "Går ej att öppna från mail direkt till nya TestFlight-appen"
Då blir det krasch

[2019-12-19 14:11] #581 closed, assigned to anjesh, anjhero, ruchidhami, RaiSaugat

[2019-12-19 14:13] MattiasJay commented on #604
This issue is still open, now assigned to @Xupet and @normacdylan .

[2019-12-19 14:17] #525 closed, assigned to ruchidhami

[2019-12-19 14:24] #568 closed, assigned to anjhero, MattiasJay, ruchidhami, umuieme

[2019-12-21 13:14] MattiasJay opened #624 "Krasch i TestFlight: Försökte öppna grupp från sökresultat i ”Sök”"

[2019-12-26 16:22] MattiasJay opened #625 "TestFlight: ingen push notification verkar öppna det den ska"
Verkar vara generellt problem: till synes öppnar ingen push notification det den ska just nu.

Exempel:
- [ ] Push not. för grupp öppnar inte gruppen

[2020-01-16 15:17] normacdylan opened #627 "UI Fixes"
- [x] center bottom tab icons

- [x] center texts in buttons in Add-tab

- [x] center button on Ride

- [x] Split comment suggestion in two lines

- [x] center share-button in share with modal

- [x] replace feedback on touchable opacity

-

[2020-01-16 15:35] normacdylan opened #628 "Open map from discover"

[2020-01-16 15:40] normacdylan opened #629 "Share doesnt open from Group"

[2020-01-16 15:42] normacdylan opened #630 "Crash on pressing calendar in ride"

[2020-01-16 15:55] normacdylan opened #631 "Missing loading animation in Messages"

[2020-01-16 16:09] #611 closed, assigned to Xupet, normacdylan

[2020-01-16 16:09] #619 closed, assigned to nobody

[2020-01-16 16:10] #612 closed, assigned to Xupet, normacdylan

[2020-01-16 16:12] #618 closed, assigned to nobody

[2020-01-16 16:19] normacdylan opened #632 "Message-icon on new messages still shows after being opened"

[2020-01-17 13:26] normacdylan opened #633 "Set default to "where I am now" or change placeholder to "destination" in Search"

[2020-01-19 16:12] MattiasJay opened #634 "Testa öppna den här länken, appen agerar knepigt när den öppnas"
1) Tryck här: https://skjutsgruppen.nu/t/53087

2) Tryck på ”Open in app”

3) Se hur appen agerar flipprigt

[2020-01-21 13:22] MattiasJay opened #635 "TestFlight: appen kraschar när man trycker på ”Rädda Bina”-nyheten (news) i appen (sortera efter ”news” i flödet för att hitta och testa det)"

[2020-01-21 13:54] MattiasJay opened #636 "TestFlight: Fel när man klickar runt i kalendern och sen går bakåt igen, på en resa"

[2020-01-21 14:01] MattiasJay commented on #636
Testa denna samåkning: http://skjts.se/t/53083

Öppnade den via feeden

1) Klicka på ”Årerkommande” så öppnas kalendern
2) Klicka på ett datum
3) Då öppnas en ny skjuts, gör då samma grej igen och öppna ”Återkommande” i den nya skjutsen och sen ett datum.
4) Då är du på ytterligare en ny skjuts
5) testa att gå tillbaka
(det blir fel - den hoppar hela vägen tillbaka till start-feeden)

[2020-01-22 10:28] MattiasJay commented on #636
Samma fel händer när du öppnar en return ride från start flödet @Xupet @normacdylan

I flödet just nu ser ni exempelvis en kille som håller fram en pizza. Tryck på hans resa från start-flödet och sen på "Retur (return). Gå sedan bakåt därifrån så er ni samma fel; man skickas direkt tillbaka till startflödet istället för till föregående punkt.

[2020-01-22 11:07] MattiasJay opened #637 "Viktigt: testa en betalning via Self-Sustaining Garden i nya TestFlight-versionen (ex 10 kr)"

[2020-01-22 11:15] MattiasJay opened #638 "TestFlight: när man är i start-flödet och trycker på den blå bollen i menyn så ska hela flödet scrolla upp till topp, se den nuvarande appen hur det ska fungera."

[2020-01-22 11:16] #628 closed, assigned to nobody

[2020-01-22 12:51] MattiasJay opened #639 "Att gå igenom (ej fel, endast checks)"
Saker vi behöver testa igenom så vi vet att det fungerar. Checkad box betyder att det fungerar. Om det inte fungerar så blir det en issue.

- [ ] Dela position till varandra i en samåkning och se att det fungerar i åtta timmar.

- [ ] Dela position i grupp och se att det fungerar i åtta timmar.

[2020-01-22 13:11] MattiasJay opened #640 "Går det att ta bort React Native-default-svarta-texten "Skjutsgruppen" när appen laddas? Idealt ska endast loggan vara loading-animation."

[2020-01-22 15:22] MattiasJay commented on #636
Uppdatering, jag skrev så här nu till er på Slack @normacdylan @Xupet :

[2020-01-22 15:34] #630 closed, assigned to nobody

[2020-01-22 15:37] MattiasJay commented on #629
Den här fungerar fortfarande inte när jag testar den i senaste TestFlight @normacdylan . Det gäller alltså när en inte är deltagare i en grupp än, och försöker dela högst upp i högra hörnet. Flyttar tillbaka den till issues.

[2020-01-22 15:40] MattiasJay commented on #633
Dubbelkoll på denna @normacdylan : när jag inte har GPS på så verkar den ta sist använda position istället för att skriva ut "Destination". Hur ser det ut för dig eller hur tycker du den ska funka?

[2020-01-22 15:49] MattiasJay commented on #627
Hej igen @normacdylan ! Bra jobbat.
Jag har avcheckat "center button on Ride" för de knapparna ligger fortfarande till vänster på olika rides istället för centrerade.

Angående menyn, hur gick det med att ta menyn från "Discover groups" rakt av?

[2020-01-22 15:50] #631 closed, assigned to nobody

[2020-01-22 15:51] #610 closed, assigned to Xupet, normacdylan

[2020-01-22 15:54] MattiasJay commented on #620
Starta en resa så testar vi hela _skapa-erfarenhet-funktionen_ tillsammans från början till slut @normacdylan @Xupet @lisarutan

[2020-01-22 15:55] #608 closed, assigned to Xupet, normacdylan

[2020-01-22 16:01] MattiasJay opened #641 "TestFlight: share through text message (SMS) does not work"
- [x] Ability to share to one person from your contacts with SMS

- [x] Ability to share to MANY of your contacts with SMS at the same time

- [x] Also, ability to share to friends within the system (multiple) AND sms (multiple) at the same time

- [x] The text needs to include the link to the group/ride you are sharing (hehe 😄 )

[2020-01-22 22:16] MattiasJay opened #642 "Exempel på fel i sök"
Här är ett exempel på fel i sök som vi kommer använda som test för att se om det fungerar @Xupet @normacdylan @lisarutan .

Den här resan går från Sundsvall till Anywhere den 25e mars klockan 07.03: http://skjts.se/t/53117

Om vi då söker på från Sundsvall till Umeå (som alltså ligger någonstans = anywhere) klockan 07.00 den 25e mars så vet vi att det finns både kollektivtrafik och en resa den str

[2020-01-23 12:11] MattiasJay opened #643 "TestFlight: Krasch när dela position i grupp"
Appen kraschar när jag försökte dela position i den här gruppen: https://skjutsgruppen.nu/g/888

- Försökte dela "åtta timmar"

Ni kan gå med i och använda den test-gruppen också @Xupet @normacdylan @lisarutan

[2020-01-23 12:13] MattiasJay opened #644 "TestFlight: går ej att dela korrekt (sista steget "Lägga till grupp")"
Jag skapade gruppen "Testgrupp januari2020" https://skjutsgruppen.nu/g/888

Sista steget är "Dela pch publicera".

1. Jag fyllde i Facebook, Twitter, deltagare som använder appen samt externt SMS
2. Facebook fungerar korrekt, check
3. Lägga till folk som redan är deltagare i appen fungerar korrekt, check
4. Inget publicerades på Twitter
5. SMS öppnades inte

Att fixa

- [x] SMS

- [x] Twitter

[2020-01-23 12:31] MattiasJay commented on #643
- [ ] Pulserande animationen i menyn när man delar position fungerar inte som den ska. Pulserar bara en gång och stannar sen. Den ska pulsera konstant IF delar position

[2020-01-23 12:37] MattiasJay opened #645 "TestFlight: appen hänger sig hela sista steget "dela" vid erbjuda skjuts"
La till en resa mellan Haparanda och Härnösand @Xupet @normacdylan via

Sista steget är "Dela pch publicera" och där testade jag "allt": Kopiera till urklipp, Facebook, Twitter, deltagare som använder appen samt flertalet externa SMS (alltså flera personer som inte har appen men som det ska skickas ett SMS till). Ville också dela den till gruppen "Testgrupp januari2020".

Appen hänger sig helt så

[2020-01-23 12:51] MattiasJay opened #646 "TestFlight: Appen hänger sig - försöker dela enskild redan skapad skjuts till en grupp"
Samma här: appen hänger sig.

Försöker dela denna enskilda redan skapade skjuts till en grupp: https://skjutsgruppen.nu/t/53179

Så här gjorde jag:

1. Öppna resan https://skjutsgruppen.nu/t/53179
2. Tryck på dela-symbolen högst upp i högra hörnet
3. Välj grupp att dela till

[2020-01-23 15:34] #615 closed, assigned to nobody

[2020-01-23 21:58] MattiasJay commented on #620
Denna är fortfarande trasig @normacdylan @Xupet . När jag trycker på "Skapa en erfarenhet" från själva samåkningen här: https://skjutsgruppen.nu/t/53179
...så händer inget. Appen bara laddar och laddar.

[2020-01-24 14:59] MattiasJay opened #647 "Trasigt i TestFlight: de tre prickarna högst upp till höger på en skapad Erfarenhet"
@normacdylan ; titta i den nuvarande appen för att se denna in action. Öppna en "Erfarenhet" från start-flödet, det är alltså en av bilderna folk tagit när de samåker. Tryck sedan på de tre prickarna högst upp till höger i hörnet så får du uppe några val.

- [x] De tre prickarna

[2020-01-24 15:19] MattiasJay commented on #620
For review idag: fungerar inte för mig, iPhone 6.

[2020-01-26 18:04] MattiasJay opened #648 "Fel i TestFlight: push notification att vän gått med i rörelsen ledde bara till start-flödet (ska leda till vännens profilsida)"

[2020-01-27 15:44] MattiasJay opened #649 "Fel TestFlight: push att August taggat i Experience ledde inte till nått"

[2020-01-28 11:03] MattiasJay opened #650 "TestFlight: småfel i Experience"
Bra jobbat med Experience @normacdylan !

Vi verkar ha några småfel i UI även här, stäm av med designen på inVision.

- [x] Har stämt av med designen på inVision

En grej är att deltagaren inte ska kunna hoppa från skärmen "Are you in this Experience" utan att svara på "Ja" eller "Nej". Jag upptäckte nu att det var möjligt genom att trycka på den blå texten, vilket inte ska ha varit möjligt tidiga

[2020-01-28 11:30] MattiasJay opened #651 "TestFlight: har inte fått push notification om folk som vill gå med i stängd grupp"

[2020-01-28 11:32] MattiasJay opened #652 "Krasch i Testflight: kommenterade i en grupp, gick sedan bakåt i appen till föregående vy. Appen kraschade. iPhone6."

[2020-01-28 11:41] MattiasJay opened #653 "Fel i TestFlight: fel för iPhone6. Push notification om nått som händer i grupp öppnar inte grupp (öppnas om appen är öppen i telefon i ex bakgrunden, men ej om appen inte är öppen)."

[2020-01-29 12:47] MattiasJay commented on #609
Saknas fortfarande på flertalet ställen @normacdylan . Överallt där det scrollas neråt ska den vita boxen komma fram.

[2020-01-29 12:49] MattiasJay commented on #635
Fortfarande fel på denna @normacdylan ; när du öppnar nyheten så ska där finnas brödtext. Se den nuvarande appen för referens. Jag har även en liten film på detta om du vill ha, säg till i så fall :-D

[2020-02-04 21:00] MattiasJay opened #654 "Error after updated app: the prompts for sharing location and creating Experience are not shown anymore in the chat feed of rides"
Here's how these prompts look like in inVision @normacdylan  :
https://invis.io/VMVUGU9HNT5#/262119235_Offered_Ride

[2020-02-06 16:01] MattiasJay opened #655 "Fortsatt väldigt kraschigt beteende efter uppdateringen: open to app"
Att öppna till appen är fortfarande väldigt kraschigt. Testa ex den här: https://skjutsgruppen.nu/t/53394

[2020-02-10 16:20] MattiasJay opened #656 "Krasch efter uppdatering; vissa deltagare kan inte lägga till samåkningar och grupper"
Krasch efter uppdatering; vissa deltagare kan inte lägga till samåkningar, se mail

[2020-02-11 15:08] MattiasJay opened #657 "Fel efter uppdatering: deltagare kan inte välja att inte synkronisera sin telefonbok (android, eventuellt iPhone)"

[2020-02-11 15:10] MattiasJay opened #658 "Fel efter uppdatering: Kan inte trycka på någonting i menyn alls, helt låst. Android Huawei"

[2020-02-11 15:11] MattiasJay opened #659 "Fel efter uppdatering: Android-användare kommer inte vidare i registreringen"
Se recension här: https://play.google.com/store/apps/details?id=nu.skjutsgruppen.skjutsgruppen&gl=SE&reviewId=gp%3AAOqpTOGH-a1q1s9zBFZnY3K9GKrbtI88OqFf10uRxzRpNR5no_5Fej5v8Kqfa1g-Y0gJ0C3V1mp0UzAEQc7ajFY

@normacdylan @Xupet

[2020-02-12 20:14] MattiasJay commented on #659
Mer rapporter om det här @Xupet @normacdylan : https://twitter.com/T1nga/status/1227176227913506816?s=20

Helt ok att twittra direkt med deltagaren om ni vill.

[2020-02-15 21:03] MattiasJay opened #660 "Fel efter uppdatering, kan inte längre trycka på de tre prickarna högst upp i högra hörnet på Erfarenheter = kan inte ta bort Erfarenhet."

[2020-02-15 21:05] MattiasJay commented on #656
More reports from participants who have problems with the app, still seems to be Android related. This one is Samsung S6 Edge:
https://www.facebook.com/groups/skjutsgruppen/permalink/10158502111753606/

@normacdylan @Xupet

[2020-02-19 20:27] MattiasJay commented on #659
Fler uppdateringar kring detta; deltagare har både haft problem med att få mailet med koden för att registrera sig samt problem med att skicka SMS-koden för registrering. @Xupet @normacdylan

[2020-02-23 21:50] MattiasJay commented on #659
Allt fler rapporter om problem med registreringen. Behöver du mer data kring problemen @normacdylan (vilka telefoner det är till exempel) eller har du det du behöver?

[2020-02-27 20:27] MattiasJay commented on #656
Exakt samma problem med att lägga till grupper; deltagarna fastnar på steg 2.

[2020-03-13 09:41] #643 closed, assigned to Xupet, normacdylan

[2020-03-13 09:44] #629 closed, assigned to nobody

[2020-03-13 09:44] #637 closed, assigned to Xupet, normacdylan

[2020-03-13 09:49] MattiasJay commented on #633
Small error here: Denna är enkel att fixa @normacdylan . Det har blivit ett mindre fel där sök begär att du måste fylla i båda rutorna, fast ger ett felmeddelande att du måste fylla i "antingen eller". Felmeddelandet stämmer, men inte funktionen just nu i uppdateringen. Ändra tillbaka till att det räcker med att en ruta är ifylld.

[2020-03-13 10:09] #627 closed, assigned to Xupet, normacdylan

[2020-05-14 13:01] #653 closed, assigned to nobody

[2020-05-14 13:10] MattiasJay commented on #642
Uppdatering Testflight 1.3.4: Det finns resa till Stockholm i flödet just nu, men när jag söker från "Anywhere" till "Stockholm" så kommer inget sökresultat @normacdylan .
Ref. #633

[2020-05-14 13:12] MattiasJay commented on #633
Detta fungerar, ungefär... :-D . Tom ruta och "Anywhere" är ju egentligen samma sak. Men det finns resa till Stockholm i flödet just nu och när jag söker från "Anywhere" till "Stockholm" så kommer inget sökresultat @normacdylan .
Ref. #642

[2020-05-14 13:19] MattiasJay commented on #636
Rätt på kalendern, bra jobbat @normacdylan !

...men fel på "Return" (retur-resa), se ovan

[2020-05-14 13:26] MattiasJay commented on #641
Hej @normacdylan ! När jag försöker göra detta från checklistan ovan

så får jag felmeddelandet "Sorry the trip could not be shared". Flyttar tillbaka issuen till "Working on".

[2020-05-14 13:39] MattiasJay commented on #644
Hej igen @normacdylan , för mig publicerades ingen tweet men ser på Twitter att du har lyckats göra det? Funktionen att koppla bort/koppla på min Twitter-koppling från min profil i appen är också borta i den nuvarande Testflight-versionen.

[2020-05-14 13:59] MattiasJay commented on #645
Det här verkar fungera mycket bra nu @normacdylan ! Men inte heller här publiceras någon tweet för mig.

[2020-05-14 14:06] MattiasJay commented on #646
Fungerar! ✅

[2020-05-14 14:06] #646 closed, assigned to Xupet, normacdylan

[2020-05-15 13:33] MattiasJay commented on #647
Fixat! ✅

[2020-05-15 13:33] #647 closed, assigned to normacdylan

[2020-05-15 13:37] MattiasJay commented on #652
Fixat! ✅

[2020-05-15 13:37] #652 closed, assigned to nobody

[2020-05-15 13:49] MattiasJay commented on #609
Saknas fortfarande:

- [x] Profiler

- [x] Län i "Upptäck grupper"

- [x] Nyheter

- [x] När du öppnar vyn för en grupp som du inte är med i än (grupp-preview)

[2020-05-15 13:51] MattiasJay commented on #635
Hej igen @normacdylan ! Ser att vi fortfarande har samma problem som den från 29e januari här ovan. Jag chattar med dig på Slack.

[2020-05-15 14:09] MattiasJay commented on #660
Klar! ✅

[2020-05-15 14:09] #660 closed, assigned to nobody

[2020-06-05 11:46] MattiasJay commented on #635
Hej igen @normacdylan . Denna är fortfarande inte så som den var tidigare. Nu verkar det som nyhets-texten (brödtexten) hamnar inom en embed på själva sidan med fel typsnitt, storlek etc. Har du tillgång till / sett editorn som vi skapar dessa nyheter i?

[2020-06-05 11:51] #634 closed, assigned to normacdylan

[2020-06-05 11:56] #655 closed, assigned to nobody

[2020-06-22 11:18] MattiasJay commented on #644
Rapport från live-testningen av version 1.3.4: sista steget står bara och stampar i appen (iPhone 6). Loading-animationen har stått och snurrat 10 minuter och får inget alternativ att varken dela till Facebook eller Twitter samt inte möjlighet att skapa retur-resan. Blir tvungen att hela force-stänga-av appen. När jag sedan startar om appen så är faktiskt resan publicerad, här är den: https://skju

[2020-10-22 12:16] MattiasJay opened #662 "Länken under "Läs mer" när uppdatering om trädgården publiceras i feeden länkar fel"
Från admin kan vi publicera ett inlägg om status just nu för trädgården, som har lite info samt en länk. Denna status publiceras i feeden i appen. Två fel just nu:

1. Fel design
2. Länken "Läs mer" länkar fel

Länken ska fungera enligt samma princip som länken "Läs mer" i de inlägg i feeden som uppmärksammar när en deltagare börjat stödja den ideella trädgården.